.newPost {
  margin: 0em 2em;
}

input {
  margin: 1em 0em;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: 12rem;
  width: 20rem;
  background-color: #f1efefe5;
  position: relative;
  resize: none;
}

button {
  position: absolute;
}
